TARGET_NAME = tm_dialog
SOURCES     = tm_dialog.mm
FRAMEWORKS  = Foundation
FLAGS      += -D'APP_REVISION=$APP_REVISION' -DCOMPILE_DATE=\"`date +%Y-%m-%d`\"
