TARGET_NAME         = Dialog

SOURCES             = Dialog.mm TMDChameleon.mm TMDSemaphore.mm
CP_Resources        = English.lproj @tm_dialog
CP_InfoPlist        = Info.plist

BUNDLE_EXTENSION    = tmplugin
LN_FLAGS           += -bundle

FRAMEWORKS          = Cocoa
