TARGET_NAME         = Dialog

SOURCES             = Dialog.mm TMDChameleon.mm TMDSemaphore.mm
CP_Resources        = Info.plist English.lproj @tm_dialog

BUNDLE_EXTENSION    = tmplugin
LN_FLAGS           += -bundle

FRAMEWORKS          = Cocoa
